.naslov {
    background-color: #f5f6f8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.naslov-text {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.naslov-text > h3 {
    padding-bottom: 0px;
}